{% extends 'snmp_app/headers.html' %}


{% block homeindex %}

  <form action="/login/" method="POST">
    {% csrf_token %}


    <div class="row" style=" margin-bottom: 10px;">
      <div class="col-4"> </div>
      <div class="col-1"> <label for="uname" style="font-size: 35px;"><b>İsim</b></label></div>
      <div class="col-1"> <input type="text" placeholder="İsim" name="name" required style="font-size: 35px;"> </div>
      <div class="col-6"> </div>
  </div>

    <div class="row" style=" margin-bottom: 10px;">
      <div class="col-4"> </div>
      <div class="col-1"> <label for="psw" style="font-size: 35px;"><b>Şifre</b></label></div>
      <div class="col-1"> <input type="password" placeholder="Şifre" name="psw" required style="font-size: 35px;"></div>
      <div class="col-6"> </div>
  </div>

  <div class="row" style=" margin-bottom: 10px;">
    <div class="col-2"></div>
    <button class="btn btn-success col-8" type="submit"><h2>Giriş</h2> </button>
    <div class="col-2"></div>
  </div>

</form>

{% endblock %} 